body {
  margin: 0;
  background: url('./backgrdUA.png') no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
}

.useradminPage--title {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 5vh;
}

.useradminPage--btnContainer {
  margin: auto 10vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  justify-content: center; 
}

.useradminPage--btn {
  width: 200px;
  height: 10vh;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.useradminPage--btn:hover {
  background-color: white; 
  color: #4CAF50; 
  font-weight: bold;
  border: 2px solid #4CAF50;
}

/* Customize scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(45deg, #004999, #90021f);
  background: linear-gradient(45deg, #004999, #90021f);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}