html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: url('./backgrdUA.png') no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
  font-weight: 100;
}

.userAdmin--BigTable {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.userAdmin--container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 490px;
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.userAdmin--container table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.userAdmin--container th,
.userAdmin--container td {
  height: 40px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.userAdmin--container th {
  text-align: center;
}
.userAdmin--container thead th {
  background-color: #ad0b0b;
}
.userAdmin--container tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.userAdmin--container tbody td {
  position: relative;
}
.userAdmin--container tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: -1;
}

/* Customize scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(45deg, #004999, #90021f);
  background: linear-gradient(45deg, #004999, #90021f);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.userAdmin--toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 3rem;
}

.userAdmin--searchContainer {
  flex: 1;
  margin-right: 3rem;
}

.userAdmin--adduserButton {
  border-radius: 10px;
  height: 30px;
  width: 100px;
  size: 0.8rem;
  padding: 0;

  animation-name: slideIn;
  animation-duration: 0.5s;
}

.userAdmin--adduserButton:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.userAdmin--searchBar {
  width: 300px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 0 auto;

  background-color: #4e4e4e;
  color: #fff;

  animation-name: slideIn;
  animation-duration: 0.5s;
}

@keyframes slideIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.userAdmin--searchBar:focus {
  outline: none;
  border: 2px solid red;
}

.userAdmin--searchBar::placeholder {
  color: #ccc;
}

@media (max-height: 700px) {
  .userAdmin--container {
    height: 300px;
  }
}

@media (max-height: 500px) {
  .userAdmin--searchBar {
    display: none;
  }
}

@media (max-width: 767px) {
  .userAdmin--container {
    max-height: 300px;
  }
  table {
    width: 100%;
    height: 100%;
  }
  .userAdmin--searchBar {
    width: 50%;
    margin-bottom: 10px;
  }
}




