/* Movie Session Page Container */
.movieSessionPage--content {
  display: flex;
  flex-direction: column;

  padding: 3vw;
  min-height: 72vh;
  width: 80%;
  margin: 2vh auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  position: relative; /* Added position relative */
}

/* Centered Message */
.movieSessionPage--content .centered-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ff6347;
  font-size: 2rem;
}

/* Headings */
.movieSessionPage--content h2 {
  text-align: center;
  color: #ff6347;
  font-weight: 600;
  text-transform: uppercase;

  margin-bottom: 3vh;
}

/* Tables */
.movieSessionPage--content table {
  width: 100%;
  border-collapse: collapse;
  transition: background-color 0.3s ease;
  
  overflow-y: scroll;
}

.movieSessionPage--content th,
.movieSessionPage--content td {
  padding: 15px;
  text-align: center;
  transition: background-color 0.3s ease;
}

/* Table Headers */
.movieSessionPage--content th {
  background-color: black;
  color: #f3f3f3;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Table Rows */
.movieSessionPage--content tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}

.movieSessionPage--content tbody tr:hover {
  background-color: #d3d3d3;
  color: red;
}

/* Links */
.movieSessionPage--content a {
  color: #ff6347;
  font-size: 1.2rem;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.movieSessionPage--content a:hover {
  color: #ff4500;
  text-decoration: underline;
  transform: scale(1.2);
}
