@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Roboto:wght@300;400;900&display=swap');

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url("background.svg");
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

code {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
